

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/solicitud/agregar" method="post" id="formulario1"> 
    <h1>PRUEBA</h1>
    <p id="1" hidden>{{rpta['cod_objeto']}}</p>
    <p id="2">{{rpta['nom_objeto']}}</p>
    <p id="3">{{rpta['categoria']}}</p>
    <!--<textarea name="categoria" rows="1" cols="50" readonly>{{rpta['categoria']}}</textarea>-->
    <p id="4">{{rpta['lugar']}}</p>
    <p id="5">{{rpta['caract_esp']}}</p>
    <p id="6" hidden>{{rpta['cod_usu']}}</p>

    <textarea id="w3review" name="descripcion" rows="4" cols="50">
    </textarea>
    <div><button type="submit">ACEPTAR</button>
         <input type="reset" value="CANCELAR">
    </div>
    </form>
    <script>

        var formTest=document.getElementById("formulario1");
        var a=document.getElementById("1");
        var b=document.getElementById("2");
        var c=document.getElementById("3");
        var d=document.getElementById("4");
        var e=document.getElementById("5");
        var f=document.getElementById("6");
        /*console.log(b.textContent);
        var post5 = document.createElement("input");
        post5.setAttribute("type", "hidden");
        post5.setAttribute("name", "nom_objeto");
        post5.setAttribute("value", b.textContent);
        formTest.appendChild(post5);*/
        //var post = document.createElement("input");
        var nom_objeto= String(b.textContent); 
        var categoria=String(c.textContent);                      
        var post = document.createElement("input");
        post.setAttribute("type", "hidden");               
        post.setAttribute("name","nom_objeto");
        post.setAttribute("value", nom_objeto);
        /*prueba.setAttribute("name","post");
        prueba.setAttribute("value",ejemplo);*/
        //formTest.appendChild(post2)
        var post2 = document.createElement("input");
        post2.setAttribute("type", "hidden");
        post2.setAttribute("name", "cod_objeto");
        post2.setAttribute("value", a.textContent);
        var post3 = document.createElement("input");
        post3.setAttribute("type", "hidden");
        post3.setAttribute("name", "categoria");
        
        post3.setAttribute("value", categoria);
        var post4 = document.createElement("input");
        post4.setAttribute("type", "hidden");
        post4.setAttribute("name", "lugar");
        post4.setAttribute("value", d.textContent);
        var post5 = document.createElement("input");
        post5.setAttribute("type", "hidden");
        post5.setAttribute("name", "caract_esp");
        post5.setAttribute("value", e.textContent);
        var post6 = document.createElement("input");
        post6.setAttribute("type", "hidden");
        post6.setAttribute("name", "cod_usu");
        post6.setAttribute("value", f.textContent);
        formTest.appendChild(post6);
        formTest.appendChild(post5);
        formTest.appendChild(post4);
        formTest.appendChild(post3);
        formTest.appendChild(post2);
        formTest.appendChild(post);                                
        console.log(categoria);
    </script>
</body>
</html>