

<!DOCTYPE html>
<html lang="en" ></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
 
  
    
</head>
<body>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/themify-icons.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/elegant-icons.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/nice-select.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/jquery-ui.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/slicknav.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/modal.css') }}"/>
    {% endblock %}
    <br>
    <header class="header-section">
        
        <div class="container">
            <div class="inner-header">
                <div class="row">                 
                    <div class="col-lg-10 col-md-10">                      
                        <div class="logo">
                            <a href="./index.html">                               
                                <h3>
                                    <img id="logo-wide" src="/assets/img/Universidad_de_Lima_logo_2.png" alt="Ulima" height = "62px">
                                    <b>SISTEMA DE GESTIÓN DE OBJETOS PERDIDOS</b>
                                </h3>
                                <img id="logo-narrow" src="/assets/img/Universidad_de_Lima_logo_2.png" alt="Ulima" height = "62px">
                            </a>
                        </div>
                    </div>
                    <div class="quantity">
                                    
                        <button type="button" class="btn btn-secondary" id="registrar_1" >
                            Logout
                        </button>

                    </div>
                    
                </div>
            </div>
        </div>
   
    </header>

    <div class="nav-item">
        <div class="container">
           
            <header class="header-section">
    
                <div class="nav-item">
                    <div class="container">
                        
                        <nav class="nav-menu mobile-menu">
                            <ul>
                                {% if (session['status'] == 'active') %}
                                {% if (session['rol'] == 1) %} <!--ALUMNO O PROF-->
                                <li id="1"><a href="/inicio">OBJETOS</a></li>
                                {% else %}
                                {% if (session['rol'] == 2) %} <!--JEFE-->
                                <li><a href="/inicio">OBJETOS</a></li>
                                <li id="2"><a href="/register">REGISTRO OBJETOS</a></li>
                                <li><a href="/sol_usu">SOLICITUDES USUARIO</a></li>
                                <li><a href="/sol_usu">SOLICITUD DE DONACIÓN</a></li>
                                
                                {% else %}
                                {% if (session['rol'] == 3) %} <!---->
                                <li id="3"><a href="/inicio">OBJETOS</a></li>
                                <li><a href="/register">REGISTRO OBJETOS</a></li>
                                <li><a href="/sol_usu">SOLICITUDES USUARIO</a></li>
                                
                                {% else %}
                                {% if (session['rol'] == 4) %}
                                <li id="4"><a href="/inicio">OBJETOS</a></li>
                                <li><a href="/register">REGISTRO OBJETOS</a></li>
                                
                                {% else %}
                                <li id="5"><a href="/inicio">OBJETOS</a></li>
                                <li><a href="/registro">SOLICITUD DE DONACIÓN</a></li>
                                
                                {% endif %}
                                {% endif %}
                                {% endif %}
                                {% endif %}
                                {% else %}
                                <a href="/logout">Ingresar</a>
                                {% endif %}

                            </ul>
                        </nav>
                        <div id="mobile-menu-wrap"></div>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <!--<form action="/solicitud/agregar" method="post" id="formulario1"> 
    <h1>PRUEBA</h1>
    <p id="1" hidden>{{rpta['cod_objeto']}}</p>
    <p id="2">{{rpta['nom_objeto']}}</p>
    <p id="3">{{rpta['categoria']}}</p>
    <!--<textarea name="categoria" rows="1" cols="50" readonly>{{rpta['categoria']}}</textarea>-->
    <!--<p id="4">{{rpta['lugar']}}</p>
    <p id="5"hidden>{{rpta['caract_esp']}}</p>
    <p id="6" hidden>{{rpta['cod_usu']}}</p>

    <textarea id="w3review" name="descripcion" rows="4" cols="50">
    </textarea>
    <div><button type="submit">ACEPTAR</button>
         <input type="reset" value="CANCELAR">
    </div>
    
    



    </form>-->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="product-details">
                            <div class="pd-title">
                                <h3>Solicitud de usuario</h3>
                                <p><i>Por favor, ingrese las carácteristicas especiales del objeto que desea solicitar</i></p> 
                            </div>
                        <div class="col-lg-6">

                       
                        <form action="/solicitud/agregar" method="post" id="formulario1">
                            <div class="col-lg-6">
                                <div class="product-details">
                                    <div class="pd-desc">
                                    <ul class="pd-tags">
                                        <p id="11" hidden>{{rpta['cod_objeto']}}</p>
                                        <li><span>NOMBRE:</span></li>
                                        <li><span><p id="12">{{rpta['nom_objeto']}}</p></li>
                                        <br>
                                        <li><span>CATEGORÍA:</span></li>
                                        <li><span>
                                            <p id="13">{{rpta['categoria']}}</p>
                                        </span></li>
                                        <br>
                                       
                                        <li><span>LUGAR:</span></li>
                                        <li><span>
                                            <p id="14">{{rpta['lugar']}}</p>
                                        </span></li>
                                       
                                        <br>
                                        <p id="15"hidden>{{rpta['caract_esp']}}</p>
                                        <p id="16"hidden >{{rpta['cod_usu']}}</p>
                                        <li><span>CARACTERÍSTICAS ESPECIALES:</span></li>
                                        <li><span>  <textarea id="w3review" name="descripcion" rows="4" cols="50">
                                        </textarea></span></li>
                                        <br>
                                        </ul>
                                        
                                </div>
                                <br>
                                <div class="quantity">
                                    
                                    <button type="submit" class="primary-btn pd-cart" >ENVIAR </button>

                                </div>
                            </div>

                        </form>
                    </div>
                                        
                         

                           

                        </div>
                    </section>
    



    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-widget">
                            <h5>Oficina de Objetos Perdidos</h5>
                        </div>
                        <ul>
                            <li>Ubicación: Edificio V, Oficina 303</li>
                            <li>Teléfono: 4376767 anexo 31495</li>
                            <li>Email: zvillena@ulima.edu.pe</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Información</h5>
                        <ul>
                            <li><a href="#">Sobre Nosotros</a></li>
                            <li><a href="#">Servicios</a></li>
                            <li><a href="#">Horarios</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>Mi cuenta</h5>
                        <ul>
                            <li><a href="#">Registrados</a></li>
                            <li><a href="#">Solicitudes</a></li>
                            <li><a href="#">Términos de uso</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Centro de ayuda</h5>
                        <p>Preguntas frecuentes</p>
                        <p>Contacto</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                                   
    </footer>       
    <script>

        var formTest=document.getElementById("formulario1");
        var a=document.getElementById("11");
        var b=document.getElementById("12");
        var c=document.getElementById("13");
        var d=document.getElementById("14");
        var e=document.getElementById("15");
        var f=document.getElementById("16");
        /*console.log(b.textContent);
        var post5 = document.createElement("input");
        post5.setAttribute("type", "hidden");
        post5.setAttribute("name", "nom_objeto");
        post5.setAttribute("value", b.textContent);
        formTest.appendChild(post5);*/
        //var post = document.createElement("input");
        var nom_objeto= String(b.textContent); 
        var categoria=String(c.textContent);                      
        var post = document.createElement("input");
        post.setAttribute("type", "hidden");               
        post.setAttribute("name","nom_objeto");
        post.setAttribute("value", nom_objeto);
        /*prueba.setAttribute("name","post");
        prueba.setAttribute("value",ejemplo);*/
        //formTest.appendChild(post2)
        var post2 = document.createElement("input");
        post2.setAttribute("type", "hidden");
        post2.setAttribute("name", "cod_objeto");
        post2.setAttribute("value", a.textContent);
        console.log(a.textContent);
        var post3 = document.createElement("input");
        post3.setAttribute("type", "hidden");
        post3.setAttribute("name", "categoria");
        
        post3.setAttribute("value", categoria);
        var post4 = document.createElement("input");
        post4.setAttribute("type", "hidden");
        post4.setAttribute("name", "lugar");
        post4.setAttribute("value", d.textContent);
        var post5 = document.createElement("input");
        post5.setAttribute("type", "hidden");
        post5.setAttribute("name", "caract_esp");
        post5.setAttribute("value", e.textContent);
        var post6 = document.createElement("input");
        post6.setAttribute("type", "hidden");
        post6.setAttribute("name", "cod_usu");
        post6.setAttribute("value", f.textContent);
        formTest.appendChild(post6);
        formTest.appendChild(post5);
        formTest.appendChild(post4);
        formTest.appendChild(post3);
        formTest.appendChild(post2);
        formTest.appendChild(post);                                
        console.log(categoria);

        


    </script>
</body>
{% block js %}
    <script src="{{ url_for('static', filename='assets/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.zoom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.dd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.slicknav.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% endblock %}
</html>